@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* MODE JOUR */
:root {
  --pink: #ffafcc;
  --thistle: #cdb4db;
  --light-rose: #ffc8dd;
  --blue: #bde0fe;
  --light-blue: #a2d2ff;
  --blanc: #fff;
  --black: #000;
  --light-grey: #bbbbbb40;
}
/* MODE NUIT */
/*:root {
  --bg-color: ; /*pink2*/
/*--header-footer: #37172f; /*pink3*/
/*--primary-text: #eeeef0; /*Mauve12*/
/*--secondary-text-links: #b5b2bc; /*Mauve11*/
/*} */
/* BODY */
body.light-mode {
  background-color: #fef7fb;
}
body.dark-mode {
  background-color: #21121d;
  color: #b5b2bc;
}
body {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

section {
  width: 90%;
  /* padding: 1rem; */
  border: 2px solid black;
}

/* HEADER */

#dark-mode {
  cursor: pointer;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
  background-position: center top;
  background-blend-mode: multiply;
  background-color: var(--pink);
}

.navbar-links-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.navbar-container a {
  color: var(--blanc);
  font-size: 20px;
  font-family: "IBM Plex Sans";
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-container a:hover {
  color: var(--light-blue);
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--blanc);
  color: var(--pink);
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 14px;
  margin-right: 20px;
}
button:hover {
  background-color: var(--light-blue);
  color: var(--blanc);
}

.profil {
  display: flex;
}
.navbar-links {
  display: flex;
  gap: 60px;
}

.logo-container img {
  width: 80px;
}

.profil-picture-container img {
  width: 35px;
  border-radius: 50%;
}
.profil-picture-container img:hover {
  background-color: var(--light-blue);
}
/* HEADER */

/* MAIN */
/* CONFIGURATION GRID */

#grid-entrainement {
  padding: 1rem;
  height: auto;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "vid-preview desc"
    "review playlist";
}

.playlist {
  grid-area: playlist;
}

.review {
  grid-area: review;
}

.vid-preview {
  grid-area: vid-preview;
}

.desc {
  grid-area: desc;
}
/* CONFIGURATION GRID */

/* SECTION VIDEO */
.video-illustration {
  width: 90%;
}

.vid-preview video {
  border-radius: 10px;
  border: 2px solid red;
  object-fit: contain;
  width: 100%;
}

.boxing-desc h2 {
  font-size: 2rem;
  font-weight: 900;
  color: var(--primary-text);
  width: 60%;
}

/* 3-SECTION  COMMENTAIRES UTILISATRICES */

.inline-block {
  display: inline-flex;
}
.client,
.date {
  margin: 0;
}

.star-rating {
  display: inline-block;
}
.checked {
  color: yellow;
}

/* 4-SECTION PLAYLIST VIDEO SUGGESTION */
.suggestions-playlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  list-style-type: none;
}

.playlist-video {
  flex: 1 1 30%; /* flex-grow, flex-shrink, flex-basis*/
  max-width: 30%;
}

.playlist-video video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* footer */
.logo .logo-container img {
  width: 100px;
}

footer {
  background-position: center top;
  background-blend-mode: multiply;
  background-color: var(--pink);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
}

.left {
  width: 20%;
}

.center {
  width: 80%;
  align-items: flex-start;
}
.social-media {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 20px;
  color: var(--blanc);
  font-size: 22px;
}

.subscribe h3 {
  margin-bottom: 12px;
  color: var(--blanc);
}

.inputtext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  background: none;
  outline: none;
  margin-top: 12px;
  background-color: var(--blanc);
  color: var(--noir);
  width: 300px;
  padding: 12px 20px;
  border-radius: 10px;
}

.input {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--blanc);
  color: var(--pink);
  border-radius: 8px;
  padding: 0px;
  font-size: 16px;
  margin-right: 20px;
  width: 100px;
  height: 50px;
}
.button:hover {
  background-color: var(--light-blue);
  color: var(--blanc);
}

.subscribe p {
  color: var(--blanc);
}

footer hr {
  margin: 15px;
  color: var(--blanc);
  border-color: var(--blanc);
}

.copyright {
  color: var(--blanc);
  padding: 0px 50px 25px 50px;
  font-size: 12px;
  text-align: center;
}
