@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.navbar-container a {
  color: var(--blanc);
  text-decoration: none;
}

:root {
  --pink: #ffafcc;
  --thistle: #cdb4db;
  --light-rose: #ffc8dd;
  --blue:#bde0FE;
  --light-blue:#a2d2ff;
  --blanc: #fff;
  --black: #000;
  --light-grey: #bbbbbb40;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 35px;
  background-position: center top;
  background-blend-mode: multiply;
  background-color:#ffafcc;
}

.navbar-links-box{
  max-width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  background-color: var(--light-rose);
  padding: 5px 30px;
align-items: center;
text-align: center;
}

.navbar-links {
  width: 100%;
  display: flex;
  gap: 60px;
  color: var(--blanc);
  flex-wrap: wrap;
  justify-content:center;
align-items: center;
text-align: center;

}

.navbar-links a{
  color: var(--blanc);
  font-size: 20px;
  font-family: "IBM Plex Sans" ;
  font-weight: 700;
  cursor: pointer;
}

.navbar-links a:hover {
  color: var(--light-blue);
}

.iconCompte{
  color: var(--pink);
  font-size: 20px;
  font-weight: lighter;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--blanc);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right:30px;
  cursor: pointer;
}

.iconCompte:hover{
  color: var(--blanc);
  background-color: var(--pink);
}

.profil button{
cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--blanc);
  color: var(--pink);
  padding: 8px 30px;
  font-size: 24px;
  font-style:italic;
  margin-right: 30px;
  font-weight: normal;
}
.profil button:hover{  background-color: var(--light-rose);
  color: var(--blanc);
}

.profil{
  display: flex;
  flex-direction: row;
  justify-content:end;
  text-align: center;
  align-items: center;
  display: flex;
  gap: 30px;
}

.profil h3{
  font-size: 20px;
  font-style: italic;
  color: var(--blanc);
  font-weight: normal;
  cursor: pointer;
  font-family:"IBM Plex Sans";
}
.profil h3:hover{
  color: var(--light-rose);
}

.logo-container img {
  width: 80px;
  
}
.profil-picture-container{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--blanc);
  cursor: pointer;
}
.profil-picture-container img {
  width: 55px;
}
.profil-picture-container:hover{
  background-color:var(--light-rose);
  color: var(--blanc);
}

/*index*/


#logincontainer{
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
background-color: #f4f4f4;
}
.page {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-top: 30px;

}

#logincontainer h2{
  margin-bottom: 20px;
  text-align: center;
  font-family:"IBM Plex Sans";
}

#logincontainer div {
  margin-bottom: 15px;
}

#logincontainer label {
  display: block;
  margin-bottom: 5px;
}

#logincontainer input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

#logincontainer h2{
  font-size: 20px;
  font-weight: 700;
  color: var(--pink);
  margin-top: 20px;
  font-family:"IBM Plex Sans";
}

#logincontainer label{
  color: var(--pink);
}

#logincontainer input{
  border: 1px solid var(--pink);
  border-radius: 10px;
}

#logincontainer button {
  width: 100%;
  padding: 10px;
  background-color: var(--pink);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

#logincontainer button:hover {
  background-color: var(--pink);
}

#logincontainer p {
  text-align: center;
  margin-top: 20px;
}

#logincontainer a {
  color: var(--pink);
  text-decoration: none;
}

#logincontainer a:hover {
  text-decoration: underline;
}

/*index*/
/*topic*/

#container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
 /* background-image:url(../images/bg.png);*/
 background-color: #FEF7FB;/*changer bg color*/
 background-attachment: scroll;
background-position: center center;
background-size: cover;
background-repeat:no-repeat;
background-origin: border-box;
margin: 0 auto;
align-items: center;
}

.button-h1{
  background-color: var(--blanc);
  border: none;
  border-radius: 10px;
  width: 350px;
  height: 80px;
  margin: 30px auto; 
color: var(--pink);
text-align: center;
font-size: 30px;
font-weight: 700;
font-family:"IBM Plex Sans";
}

#articles-container, #articles2-container,#articles3-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:start;
  padding: 20px;
}


  .article {
    position: relative;
    width: 365px; 
    height: 470px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--pink);
    margin: 20px;
    cursor: pointer;
}

.large-image {
    width: 100%;
    height: 100%;
    display: block;
object-fit: cover;
border: none;
object-position: center;
}

.small-image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 105px 50px; 
    border: 1px solid #FFAFCC;
    transform: translate(-50%, -50%);
    z-index: 1; 
    transition: opacity 0.5s ease;
}

.small-image {
    display: block;
    width: 200px; 
    height: 200px;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 175, 204, 0.8); 
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    
}

.articlebg{
      width: 100%;
    height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 20px auto;
}

.article:hover .overlay {
    transform: translateY(0);
}

.article:hover .small-image-wrapper {
    opacity: 0; 
}


 .info {
  display: flex;
  justify-content: space-between;
  color: var(--blanc);
  gap: 40px;
}



#filter{
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}
 .button-filter {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  /*border-radius: 5px;*/
  background-color: var(--pink);
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.button-filter:hover {
  background-color: var(--light-rose);
}


/*profil*/

.profilebg{
  width: 100%;
  height: auto;
  background-color: var(--blanc);
}

#profil {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-image: url(../images/logo-bg.png);
  background-repeat: repeat;
}

#userbanner, #score, #prefere, #sesvideos {
  width: 97%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#userbanner {
  height: 168px;
  background-color: var(--pink);
  display: flex;
  flex-wrap: wrap;
  margin: 100px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.rond {
  margin-top: 30px;
  height: 153px;
  width: auto;
}

.profil-h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score {
  margin-top: 30px;
  margin-bottom: 100px;
}

#userbanner h3,#profil h3 {
  font-style: italic;
  font-size: 40px;
  color: var(--blanc);
  font-family: "IBM Plex Sans";
}

#score h4 {
  font-style: italic;
  font-size: 25px;
  color: #3858A7;
  font-family: "IBM Plex Sans";
}

.scorebox {
  width: 282px;
  height: 124px;
  border: none;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  align-content: center;
}

#prefere img, #sesvideos img {
  width: 278px;
  height: 205px;
  border-radius: 15px;
  display: block;
  object-fit: cover;
  object-position: center;
}

#profil h2 {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  color: #3CB4D9;
  margin-bottom: 30px;
  font-family: "IBM Plex Sans";
  text-align: left;
  width: 100%; 
  box-sizing: border-box; 
  margin-left: 50px;
}

.flexwrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
}

#sesvideos {
  margin-top: 100px;
  margin-bottom: 200px;
}



/*topic*/

/*footer*/

.logo{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
}
.logo .logo-container img {
  width: 100px;
}

footer {
  background-color: #ffafcc;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 60PX 0px 60px;
}

.left {
  width: 33%;
}

.center{
  width: 33%;
}

.right{
  width: 33%;
}
.social-media {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 20px;
  color: var(--blanc);
  font-size: 22px;
}

.subscribe h3 {
  color: var(--blanc);
  font-family:"IBM Plex Sans";
}

.inputtext {
  border: none;
  outline: none;
  background-color: var(--blanc);
  width: 300px;
  height: 40px;
  border-radius: 10px;
}

.input{
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.button{
  cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--blanc);
    color: var(--pink);
    border-radius: 8px;
    font-size: 16px;
    margin-right: 20px;
    width: 100px;
    height: 40px;
  }
  .button:hover{  background-color: var(--light-rose);
    color: var(--blanc);
  }

.subscribe p {
  color: var(--blanc);
  line-height: 30px;
}

footer hr {
  margin: 15px;
  color: var(--blanc);
}

.copyright {
  color: var(--blanc);
  padding: 0px 50px 25px 50px;
  font-size: 12px;
  text-align: center;
}
/*footer*/
